body {
    height: auto;
    width: auto;
}

.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    position: relative;

    width: 100%;
    height: 500px;

    gap: 10px;
}

.badge {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    position: relative;

    top: 0;
    right: 0;

    width: 100px;
    height: 50px;

    background-color: red;
}


.div-one {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin: 0;
    width: 100px;
    height: 100px;

    background-color: yellow;
}

.div-two {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 

    width: 100px;
    height: 100px;

    background-color: blue;
}