body {
    height: 100%;
    width: 100%;

    margin: 0;
}

.main1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;
}

/*------------------------------------------------------------------------------------------------------------------------------*/

.grid-cont {
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    background-color: blue;

    height: 100px;
}