body {

    height: auto;
    width: auto;
}

.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 10px;
}

@media (max-width: 768px) {
    .wrapper {
        flex-direction: column;
    }
}


.div-one {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding: 2px;
    margin: 0;
    width: 100px;
    height: 100px;

    background-color: yellow;
}

.div-two {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding: 2px;
    margin: 0;
    width: 100px;
    height: 100px;

    background-color: blue;
}