body {
    height: 100%;
    width: 100%;

    margin: 0;
}

.main1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 24px;

    height: 100%;
}

/*------------------------------------------------------------------------------------------------------------------------------*/

#greeting-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 8px;
}

#click-button {
    display: block;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    border: 1px solid black;
    border-radius: 2px; 
    padding: 4px 24px;
}

#greeting-p {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    border: 1px solid black;
    border-radius: 2px;
    padding: 4px 12px;

    font-family: "Gill Sans", sans-serif;
}

/*------------------------------------------------------------------------------------------------------------------------------*/

#input-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 8px;
}

#message {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding: 2px 4px;
}

/*------------------------------------------------------------------------------------------------------------------------------*/

#todo-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 16px;
}

#todo-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding: 4px 8px;
}

#todo-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    border: 1px solid black;
    border-radius: 2px;

    padding: 2px 4px;
    cursor: pointer;
}

#todo-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 0;
    margin: 0;

    gap: 8px;
}

#todo-list li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding: 2px 16px;
    margin: 0;

    border: 1px solid black;
    border-radius: 2px;
}