body {
    height: 100%;
    width: 100%;

    margin: 0;
}

.main1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;

    width: 100%;
    height: 250px;

    gap: 10px;
}

.icon-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 10px;
}

.icon-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 20px;

    width: 100%;
}

.icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 150px;
    height: 150px;

    background-color: blue;
}

.icon-name {
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: center;

    border: 1px solid black;
    border-radius: 2px;

    padding: 2px 24px;
}

.icon-interact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding: 2px 12px;

    border: 1px solid black;
    border-radius: 2px;

    cursor: pointer;
}

@media (max-width: 600px) {
    .icon-wrapper {
        flex-direction: column;
    }
}

/* //-----------------------------------------------------------------------------------------------------// */

.button-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 8px;

    width: 100%;
    height: 250px;
}

.button1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    widht: auto;
    height: auto;

    padding: 2px 6px;
}

.button2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    widht: auto;
    height: auto;

    padding: 2px 6px;
}

.button3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    widht: auto;
    height: auto;

    padding: 2px 6px;
}

/* //-----------------------------------------------------------------------------------------------------// */

.avatar-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 16px;
}

@media(max-width: 500px) {
    .avatar-section {
        flex-direction: column;
    }
}

.avatar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100px;
    height: 100px;

    background-color: blue;
}

.name-holder {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    border: 1px solid black;
    border-radius: 2px;

    padding: 4px 12px;
}

.follow-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    padding: 2px 8px;
}