body {
    height: 100%;
    width: 100%;

    margin: 0;
}

.main1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;

    width: 100%;
    height: 250px;

    gap: 10px;
}

.icon-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 10px;
}

.icon-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 20px;

    width: 100%;
}

.icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 150px;
    height: 150px;

    background-color: blue;
}

.icon-name {
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: center;

    border: 1px solid black;
    border-radius: 2px;

    padding: 2px 24px;
}

.icon-interact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding: 2px 12px;

    border: 1px solid black;
    border-radius: 2px;

    cursor: pointer;
}

@media (max-width: 600px) {
    .icon-wrapper {
        flex-direction: column;
    }
}

/* //-----------------------------------------------------------------------------------------------------// */

.button-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 8px;

    width: 100%;
    height: 250px;
}

.button1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    widht: auto;
    height: auto;

    padding: 2px 6px;
}

.button2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    widht: auto;
    height: auto;

    padding: 2px 6px;
}

.button3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    widht: auto;
    height: auto;

    padding: 2px 6px;
}

/* //-----------------------------------------------------------------------------------------------------// */

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: stretch;     
  justify-content: flex-start; 
  row-gap: 16px;            
  width: 200px;
  height: 400px;             
}

.sidebar, .main, .extra {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  border: 1px solid black;
  border-radius: 2px;
  padding: 4px 0;

  height: auto;
  width: 100%;             
}

.main {
  flex: 1 1 auto;           
  min-height: 0;           
}

@media (max-width: 900px) {
  .extra { display: none; }
}