body {
    height: 100%;
    width: 100%;

    margin: 0;
}

.main1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;
}

/*------------------------------------------------------------------------------------------------------------------------------*/

.click-button {
    display: block;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    border: 1px solid black;
    border-radius: 2px; 
    padding: 4px 24px;
}

.greeting-p {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    border: 1px solid black;
    border-radius: 2px;
    padding: 4px 12px;

    font-family: "Gill Sans", sans-serif;
}