body {

    height: auto;
    width: auto;
}

.wrapper {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: end;

    position: relative; 

    width: 100%;
    height: 500px;

    gap: 10px;
}

.button1 {
    position: absolute;

    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: end;
    justify-content: center;
}

.box {
    position: relative;

    display: flex;
    flex-drection: row;
    align-items: center;
    align-self: center;
    justify-content: center;

    background-color: green;

    top: 30px;
    right: 50px;

    width: 50px;
    height: 50px;
}

.div-one {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    position: absolute;

    padding: 2px;
    margin: 0;
    width: 100px;
    height: 100px;

    background-color: yellow;
}