body {
    height: 100%;
    width: 100%;

    margin: 0;
}

#wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 24px;
}

/*------------------------------------------------------------------------------------------------------------------------------*/

#tasks-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 24px;
}

#tasks-form {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 12px;
}

#task-input {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid black;
  border-rdaius: 2px;

  padding: 4px 8px;
}

#add-task-button {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid black;
  border-radius: 2px;

  cursor: pointer;
  padding: 2px 4px;
}

#tasks-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 8px;
}

#tasks-list li {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid black;
  border-radius: 2px;

  padding: 4px 8px;
  gap: 4px;
}