body {
    height: 100%;
    width: 100%;

    margin: 0;
}

#wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 24px;
}

/*------------------------------------------------------------------------------------------------------------------------------*/

#counter-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  gap: 8px;
}

#counter-section button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  border: 1px solid black;
  border-radius: 2px;

  padding: 4px 8px;
}

/*------------------------------------------------------------------------------------------------------------------------------*/

#greet-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  gap: 8px;
}

#greet-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  border: 1px solid black;
  border-radius: 2px;

  padding: 4px 8px;
}

#user-name-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  border: 1px solid black;
  border-radius: 2px;

  padding: 4px 8px;
}

/*------------------------------------------------------------------------------------------------------------------------------*/

#block-color-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 24px;
}

#block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 100px;
  height: 100px;

  border: 1px solid black;
  border-radius: 2px;

  background-color: transparent;
}

#btn-collection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  padding: 0;
  margin: 0;

  gap: 12px;
}

#btn-collection button {
  display: flex;
  align-items: center;
  justify-content: center;
  
  border: 1px solid black;
  border-radius: 2px;

}